body {
  background: black;
  height: 100%; }

.auth-card {
  max-height: 200px;
  width: 350px;
  margin: auto !important;
  margin-top: 23% !important;
  font-family: "Gotham SSm", sans-serif; }
  .auth-card form p {
    color: white;
    margin: auto !important;
    margin-top: 12px !important;
    font-size: 14px; }

.form-design {
  margin-bottom: -2px !important; }

.nav-design {
  background: #ffffff;
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: none !important; }

.brand-logo {
  color: black !important;
  font-family: "Gotham SSm", sans-serif;
  font-size: 15px; }

.brand-img {
  height: 30px;
  width: 60px; }

.tabs .indicator {
  background-color: white; }

.tabs .tab a {
  color: white !important; }
  .tabs .tab a:hover, .tabs .tab a:focus,
  .tabs .tab a .active {
    color: white !important; }

input-field input, input[type=text] {
  border-bottom: 1px solid white !important; }

.input-field i {
  color: white; }

/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  color: white; }

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus,
.input-field input[type=email]:focus,
input[type=text]:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=text]:focus:not([readonly]),
input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* valid color */
.input-field input[type=text].valid,
input[type=text].valid,
input[type=email].valid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* invalid color */
.input-field input[type=text].invalid,
input[type=email].invalid,
input[type=password].invalid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: white; }

.button-design {
  background-color: #E6E6E6;
  color: black;
  width: 100%;
  font-family: "Gotham SSm", sans-serif;
  font-size: 12px !important; }
  .button-design:hover {
    background-color: #ccc9c9;
    color: black; }

.landing-page {
  background: #ffffff !important; }

.signup-button {
  background: black;
  height: 50px !important;
  margin-top: 8px !important; }
  .signup-button a {
    padding: 0px 40px;
    margin-top: -5px;
    font-family: "Gotham SSm", sans-serif;
    font-size: 12px !important; }

.signin-button {
  height: 50px !important;
  margin-top: 8px !important;
  margin-right: 5px !important; }
  .signin-button a {
    color: black;
    padding: 0px 40px;
    margin-top: -5px;
    font-family: "Gotham SSm", sans-serif;
    font-size: 12px !important; }

.section {
  min-width: 1024px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 645px;
  margin-top: -10px !important; }

.carousel {
  min-height: 645px !important; }

.landing-content {
  margin-top: 10%;
  margin-right: 78%; }
  .landing-content a {
    background: black;
    padding: 18px 40px;
    margin-top: -5px;
    font-family: "Gotham SSm", sans-serif;
    font-size: 15px !important;
    color: white; }

.inner-slide {
  float: right;
  margin-right: 4%;
  margin-bottom: 10%;
  height: 300px;
  width: 500px;
  background: black; }
  .inner-slide img {
    height: 300px;
    width: 500px; }

.slide-img {
  max-height: 645px; }

.authpage {
  background: black; }

.dashboard {
  background: white;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuL2Nzcy9zdHlsZS5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/